.img-size {
    width: 150px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.border {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px; 
    border-color: grey; 
    margin-top: 4px;
    padding: 5px
}

.button1 {
    background-color: #f0c14b; 
    width: 100%; 
    margin-top: 10px;
}

.input{
    width: 95%
}

h4 {
    color: cornflowerblue;
}

ul > li {
    display: inline-block;
    padding: 2px;
    color:cornflowerblue
}